body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2px;
  width:414px;
  height:736px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:27px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:397px;
  height:27px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:691px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:21px;
  width:397px;
  height:691px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:44px;
  height:31px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:219px;
  height:240px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:5px;
  width:213px;
  height:234px;
  font-size:12px;
  color:#0033FF;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:131px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:104px;
  width:207px;
  height:131px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:29px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:15px;
  width:17px;
  height:19px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:13px;
  word-wrap:break-word;
}
